@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron pt-5">
    <h1 class="text-center" style="letter-spacing: 0.05em">Shop Aviator</h1>
    <p class="text-center pt-5" style="font-size: 26px">ShopAviator aims to seamlessly allow you to create your own shop and share it amongst thousands of others.</p>

    <div>
        <p class="text-center">New to ShopAviator? <a href="/Account/Register">Get started</a></p>
    </div>
</div>